*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;         
    border-radius: 50%;
}
form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}



.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

a{
    text-decoration: none;
    color: #2368ff;
}

button:hover {
    transition: 0.5s;
    color: #88f5fd;
}

.bem_vindo  p {
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 60px;
    box-shadow: 0px 0px 60px 40px rgb(0, 80, 252);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bem_vindo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #ffff;
    border: solid 1px transparent; 
    border-radius: 100px;
    justify-content: center;
    margin-top: 20%;
   
}